//这里是注释
doctype html
html(lang='ZH-cn',style=)
    div.class#warp /*缩进表示它在内部*/
        #warp1.c1.c2.c3
            .warp2
        .warp3
            -var c =  1;
            if(c==0)
                p.show
            else
                p.hide
    | ppppppp
doctype html
script(type='textt/javascript').
    //.之后原样打印字符
    var a,b,c=0;
    alert(a)