doctype html
html
    head
        title MongoDB Index
        link(rel='stylesheet',href='/static/1.css')
    body
        div.view
            header(role='navigation')#headerDB
                .container
                    #logo
                        a(href='/')
                            img(src='/static/1.png',alt='logo')
            div.content.container
            div.footer
